<?xml version="1.0"?>
<Settings component="StartMenu" version="4.4.196">
	<MenuStyle value="Win7"/>
	<StartScreenShortcut value="0"/>
	<SkinW7 value="Fluent-Metro_1.5prebeta4"/>
	<SkinVariationW7 value=""/>
	<SkinOptionsW7>
		<Line>DARK_MAIN=1</Line>
		<Line>METRO_MAIN=0</Line>
		<Line>LIGHT_MAIN=0</Line>
		<Line>AUTOMODE_MAIN=0</Line>
		<Line>DARK_SUBMENU=1</Line>
		<Line>METRO_SUBMENU=0</Line>
		<Line>LIGHT_SUBMENU=0</Line>
		<Line>AUTOMODE_SUBMENU=0</Line>
		<Line>SUBMENU_SEPARATORS=1</Line>
		<Line>DARK_SEARCH=1</Line>
		<Line>METRO_SEARCH=0</Line>
		<Line>LIGHT_SEARCH=0</Line>
		<Line>AUTOMODE_SEARCH=0</Line>
		<Line>SEARCH_FRAME=0</Line>
		<Line>SEARCH_COLOR=0</Line>
		<Line>SMALL_SEARCH=1</Line>
		<Line>SEARCH_ITALICS=0</Line>
		<Line>NONE=0</Line>
		<Line>SEPARATOR=0</Line>
		<Line>TWO_TONE=1</Line>
		<Line>CLASSIC_SELECTOR=1</Line>
		<Line>HALF_SELECTOR=0</Line>
		<Line>CURVED_MENUSEL=1</Line>
		<Line>CURVED_SUBMENU=0</Line>
		<Line>SELECTOR_REVEAL=1</Line>
		<Line>TRANSPARENT_SHUTDOWN=0</Line>
		<Line>OUTLINE_SHUTDOWN=0</Line>
		<Line>BUTTON_SHUTDOWN=1</Line>
		<Line>EXPERIMENTAL_SHUTDOWN=1</Line>
		<Line>USER_IMAGE=0</Line>
		<Line>USER_OUTSIDE=0</Line>
		<Line>SCALING_USER=1</Line>
		<Line>56=0</Line>
		<Line>64=0</Line>
		<Line>TRANSPARENT_USER=0</Line>
		<Line>STANDARD=1</Line>
		<Line>SMALL_MAIN2=0</Line>
		<Line>SMALL_ICONS=0</Line>
		<Line>COMPACT_SUBMENU=0</Line>
		<Line>PRESERVE_MAIN2=0</Line>
		<Line>LESS_PADDING=0</Line>
		<Line>EXTRA_PADDING=1</Line>
		<Line>24_PADDING=0</Line>
		<Line>LARGE_PROGRAMS=0</Line>
		<Line>TRANSPARENT=0</Line>
		<Line>OPAQUE_SUBMENU=0</Line>
		<Line>OPAQUE_MENU=0</Line>
		<Line>OPAQUE=1</Line>
		<Line>LARGE_FONT=0</Line>
		<Line>CONNECTED_BORDER=0</Line>
		<Line>FLOATING_BORDER=1</Line>
		<Line>LARGE_SUBMENU=0</Line>
		<Line>LARGE_LISTS=0</Line>
		<Line>THIN_MAIN2=0</Line>
		<Line>EXPERIMENTAL_MAIN2=1</Line>
		<Line>UWP_SCROLLBAR=0</Line>
		<Line>MODERN_SCROLLBAR=1</Line>
		<Line>MODERN_SEARCH=0</Line>
		<Line>SMALL_ARROWS=0</Line>
		<Line>ARROW_BACKGROUND=0</Line>
		<Line>ICON_FRAME=0</Line>
		<Line>SEARCH_SEPARATOR=0</Line>
		<Line>NO_PROGRAMS_BUTTON=1</Line>
	</SkinOptionsW7>
	<SkipMetro value="1"/>
</Settings>
